<script src="/js/user-financials.js"></script>
<nav>
  <div class="nav-wrapper green lighten-4">
    <a href="#" class="brand-logo green lighten-4 black-text" style="margin-left: 3%;">FinanChill</a>
    <ul class="right">
      <li><a class="black-text" href="/dashboard">Dashboard</a></li>
      <li><a class="black-text" href="/userfinancials">Manage User Financials</a></li>
      <li><a class="black-text" href="/api/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<center>
  <h1>User Financials</h1>
</center>

<div class="container">

  <div class="row">
    <div class="col s12 z-depth-1">
      <ul class="collection with-header" style="padding:0px">
        <li class="green lighten-4 collection-header">
          <h3>Income</h3>
        </li>
        {{#each income}}
        <li class="collection-item">
          <strong>Title: </strong>{{this.title}}<br>
          <strong>Average monthly amount: $</strong>{{round this.amount}}<br>
          <button class="green lighten-4 btn" style="margin-top: 5px"><i data-id="{{this.id}}"
              class="remove-income green-text material-icons">delete</i></button>
        </li>
        {{/each}}
      </ul>
      <div class="row">
        <div class="col s12 m8 l6">
          <label for="job">Source: </label>
          <input type="text" id="job" name="job">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 l6">
          <select style="display:block" id="income-frequency">
            <option>How often do you receive this income?</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col s10 m8 l6">
          <div class="input-wrapper">
            <label for="income-amount">Amount: </label>
            <input type="text" id="income-amount" class="dollar-input" name="income-amount">
            <span class="unit green-text">$</span>
          </div>
        </div>
        <div class="col s2">
          <button type="submit" style="margin-top: 20px; margin-left:20px" class="btn green add-income">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 z-depth-1">
      <ul class="collection with-header" style="padding:0px">
        <li class="green lighten-4 collection-header">
          <h3>Necessary Expenses</h3>
        </li>
        {{#each necessaryExpenses}}
        <li class="collection-item">
          <strong>Title: </strong>{{this.title}}<br>
          <strong>Average monthly amount: $</strong>{{round this.amount}}<br>
          <button class="green lighten-4 btn" style="margin-top: 5px"><i data-id="{{this.id}}"
              class="remove-necessary green-text material-icons">delete</i></button>
        </li>
        {{/each}}
      </ul>
      <div class="row">
        <div class="col s12 m8 l6">
          <label for="necessary-expense">Source: </label>
          <input type="text" id="necessary-expense" name="necessary-expense">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l6">
          <select style="display:block" id="necessary-frequency">
            <option>How often do you make this payment?</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col s10 m8 l2">
          <div class="input-wrapper">
            <label for="necessary-amount">Amount: </label>
            <input type="text" id="necessary-amount" class="dollar-input" name="necessary-amount">
            <span class="unit green-text">$</span>
          </div>
        </div>
        <div class="col s2">
          <button type="submit" style="margin-top: 20px; margin-left:20px" class="btn green add-necessary">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 z-depth-1">
      <ul class="collection with-header" style="padding:0px">
        <li class="green lighten-4 collection-header">
          <h3>Unnecessary Expenses</h3>
        </li>
        {{#each unnecessaryExpenses}}
        <li class="collection-item">
          <strong>Title: </strong>{{this.title}}<br>
          <strong>Average monthly amount: $</strong>{{round this.amount}}<br>
          <button class="green lighten-4 btn" style="margin-top: 5px"><i data-id="{{this.id}}"
              class="remove-unnecessary green-text material-icons">delete</i></button>
        </li>
        {{/each}}
      </ul>
      <div class="row">
        <div class="col s12 m8 l6">
          <label for="unnecessary-expense">Expense Title: </label>
          <input type="text" id="unnecessary-expense" name="unnecessary-expense">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 l6">
          <select style="display:block" id="unnecessary-frequency">
            <option>How often do you make this payment?</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col s10 m8 l6">
          <div class="input-wrapper">
            <label for="unnecessary-amount">Amount: </label>
            <input type="text" id="unnecessary-amount" class="dollar-input" name="unnecessary-amount">
            <span class="unit green-text">$</span>
          </div>
        </div>
        <div class="col s2">
          <button type="submit" style="margin-top: 20px; margin-left:20px"
            class="btn green add-unnecessary">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 z-depth-1" id="one-time-display">
      <ul class="collection with-header" style="padding:0px">
        <li class="green lighten-4 collection-header">
          <h3>One Time Expenses</h3><br>
        </li>
        {{#if this.oneTimePurchase}}
        {{#each oneTimePurchase}}
        {{#unless this.date}}
        <li class="collection-item">
          <strong>Title: </strong>{{this.title}}<br>
          <strong>Amount: $</strong>{{round this.amount}}<br>
          <button class="green lighten-4 btn" style="margin-top: 5px"><i data-id="{{this.id}}"
              class="remove-oneTimePurchase green-text material-icons">delete</i></button>
        </li>
        {{/unless}}
        {{/each}}
        {{/if}}
      </ul>
      <div class="row">
        <p style="margin-left:2%">Enter the information for singular purchases you would like to make in the future</p>
        <div class="col s12 m8 l6">
          <label for="oneTimePurchase-title">Title: </label>
          <input type="text" id="oneTimePurchase-title" name="oneTimePurchase-title">
        </div>
      </div>
      <div class="row">
        <div class="col s10 m8 l6">
          <div class="input-wrapper">
            <label for="oneTimePurchase-amount">Amount: </label>
            <input type="text" id="oneTimePurchase-amount" class="dollar-input" name="oneTimePurchase-amount">
            <span class="unit green-text">$</span>
          </div>
        </div>
        <div class="col s2">
          <button type="submit" style="margin-top: 20px; margin-left:20px" class="btn green add-oneTimePurchase">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
